<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Visualizador de datos</title>
</head>
<body>
    <h1>Temperatura actual: {{ temp }}°C</h1>
	{% for i in range(4) %}
		<h2>Relé {{ i+1 }}</h2>
		<form action="/relay" method="post">
			<input type="hidden" name="relay_index" value="{{ i }}">
			<input type="radio" name="relay_state" value="1" {% if GPIO.input(relay_pins[i]) == 0 %}checked{% endif %}>Encender<br>
			<input type="radio" name="relay_state" value="0" {% if GPIO.input(relay_pins[i]) == 1 %}checked{% endif %}>Apagar<br>
			<input type="submit" value="Enviar">
		</form>
	{% endfor %}
</body>
</html>